# Configuration file for loki-sn-bot; copy this file to loki_sn_bot_config.py and update the
# following:

# auth token for the telegram bot; get this from @BotFather
TELEGRAM_TOKEN = "FIXME"

# Postgresql database connection info; see database.pgsql for the SQL to create the needed tables
PGSQL_CONNECT = { 'dbname': 'lokisnbot' }

# URL to a loki node's RPC interface.  Should not end in a /.  The node provides all the SN network
# status.  Note that restarting the node will result in a loss of last uptime proof data: if you
# need to restart the node you may want to temporarily switch this to some other, public node for a
# couple hours.  (Restarting the bot, on the other hand, won't reset anything, so changing this,
# restarting the bot, then changing back after 2 hours and restarting again is perfectly fine and
# won't miss any updates).
NODE_URL = 'http://localhost:22023'

# If set to a URL, the bot can also report about the testnet (if you want *only* testnet, use the
# plain NODE_URL setting instead).  To disable, set to None.
TESTNET_NODE_URL = None
#TESTNET_NODE_URL = 'http://localhost:38157'

# If set to a testnet wallet RPC URL for a wallet containing testnet coins the bot can function as a
# testnet faucet:
TESTNET_WALLET_URL = None
#TESTNET_WALLET_URL = 'http://localhost:12345'

# How much to send users who request from the faucet.  Can be requested once/24h.  (Only applies if
# TESTNET_WALLET_URL is set).  The value is in atomic units.
TESTNET_FAUCET_AMOUNT = 202000000000

# Thresholds, in hours, at which to notify about an impending expiry.  These must be in increasing
# order.
EXPIRY_THRESHOLDS = [6, 24, 48]
TESTNET_EXPIRY_THRESHOLDS = [0.5, 2]

# Telegram handle of the bot's owner.  This gets used in the bot's welcome message.  If set to None
# or '' it will not be shown.
OWNER = 'FIXME'

# Extra information to include in the main menu/start message.  Set to None or '' to omit:
EXTRA = 'This bot is free software available under a GPLv3+ license at: https://github.com/jagerman/loki-sn-bot\n\n'
